header {
  background: linear-gradient(.25turn, #DAAD86, 50%, #659DBD);
  color: #ffffff;
}

body {
  background-color: #fdf0e5;
}

.searchbtn-color {
  background-color: #659dbd;
}

.searchbtn-color:hover {
  background-color: #a5c6d6;
}